@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.raleway-font {
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* share style  */
.width-style {
  max-width: 1100px;
 margin: 0 auto;
}
.text-aline{
  text-align: center;
}
/* nav bar part  */










/* banner style  */
.banner{
  background-color: white;
}
.container {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  align-items: center;
}



.banner-span-one {
  margin-left: 50px;
}

.banner-title {
  font-size: 3.7rem;
  font-weight: 700;

}

#banner-span-one {
  color: orange;
}

#banner-span-two {
  color: rgba(1, 172, 253, 1);
}

.banner-description {
  color: black;
  font-size: 1.25rem;
}

.banner-button {
  font-size: 1.25rem;
  color: white;
  background-color: black;
  border-radius: 8px;
  height: 50px;
  width: 197px;


}
/* main  */
.bg-img{
  background-image: 
  linear-gradient(to top, rgba(254, 163, 1, 0.31), rgba(255, 241, 241, 0.719) 50%, rgba(240, 239, 239, 0) 100%),
  url(../assets/bg.png);
  /* background-image: linear-gradient(to top,white,   ), url(../assets/bg.png);
  background-image: url(../assets/bg.png); */
}

/* 3 card section  */
.card-header-title {
  text-align: center;

}

.care-countainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 100px;
}


.card {
  border-radius: 8px;
  text-align: center;

}

.card-1 {
  background-image: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(222, 245, 255, 1));

}

.card-2 {
  background-image: linear-gradient(to top, white, white, white, rgba(255, 244, 220, 1));
}

.card-3 {
  background-image: linear-gradient(to top, white, white, white, rgba(242, 232, 255, 1));
}

/* yollow buttlon part  */
.button-container {

  display: flex;
  justify-content: center;

  margin-top: 30px;


}

.previous-button,
.next-button {
  color: white;
  background-color: orange;
  padding: 20px;
  font-size: 1.rem;
  border-radius: 50%;
  border: none;

}

.previous-button {
  margin-right: 20px;
}

/* Our stories section  */

.stories-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 100%;
}








/* stories 2nd part  */
.stories-2nd-column{
  display:grid;
  grid-template-columns: repeat(2,1fr);
  justify-content: space-between;
  align-items: center;
}
.view-button{
 display: block;
 margin: 0 auto;
  
}

/* footer section  */

/* frist column  */

footer{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  justify-content:center;
  align-items: center;
 
  background-color: rgb(25, 183, 245);


}
#frist-column{
  max-width:1400px;
  width: 100%;
}
.beg-kids{
  display: flex;
}
.logo-img{
  color: white;
  background-color: white;
}
/* second column  */



/* thirs column  */
.third-column ul{
  display: flex;
  margin-left: 75 px;


}

ul li{
  list-style: none;
}

.second-navlink a{
  text-decoration: none;
  color: white;
}
